.btn1 {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: 3px solid #37d5d6;
  outline: none;
  transition: 1s ease-in-out;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 30px;
}

.btn1:hover {
  transition: 1s ease-in-out;
  background: #37d5d6;
}

.btn1 span {
  color: black;
  font-size: 18px;
  font-weight: 100;
}

@media (max-width: 700px) {
  .container {
    position: absolute;
    left: 15%;
    top: 50%;
  }
}

@media screen and (width: 600px) and (height: 1024px) {
  .container {
    position: absolute;
    left: 22%;
    top: 50%;
  }
}

@media screen and (width: 768px) and (height: 1024px) {
  .container {
    position: absolute;
    left: 25%;
    top: 50%;
  }
}

@media screen and (width: 540px) and (height: 720px) {
  .container {
    position: absolute;
    left: 20%;
    top: 50%;
  }
}
