.dragContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
}

.dragHandler {
  padding: 1px 5px;
  border-radius: 3px;
  cursor: grab;
  border: 2px solid;
  font-size: medium;
  color: rgb(11, 11, 43);
  background: white;
}

.dragElement {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  align-items: center;
  padding: 10px;
  margin-bottom: 13px;
  box-shadow: 0px 2px 10px black;
  background: rgb(11, 11, 41);
  border-radius: 5px;
}

.Element {
  font-weight: 900;
  font-size: medium;
  color: white;
}
