.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./2.jpeg");
  background-size: cover;
  overflow: scroll;
}

.form {
  padding: 17px;
}

.login-screen__form {
  width: 420px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: black;
  border-radius: 30px;
  height: 380px;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Ubuntu-Bold;
  font-size: 28px;
  color: white;
}

.login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-screen__subtext {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0;
  text-align: center;
  font-family: Ubuntu-Bold;
  color: white;
}

#inputbox {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}

#password {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}

#btn {
  width: 100px;
  text-align: center;
  border-radius: 21px;
  font-family: Ubuntu-Bold;
  border: 3px solid #37d5d6;
  background: whitesmoke;
}

#btn:hover {
  transition: 1s ease-in-out;
  background: #37d5d6;
}

.form-group {
  text-align: center;
}

.button {
  text-align: center;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 13px;
  color: black;
  font-weight: bold;
  text-align: center;
}

#img1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

#img2 {
  position: absolute;
  top: 20px;
  right: 30px;
}

#img2_1 {
  height: 110px;
  width: 190px;
}
#img1_1 {
  height: 110px;
  width: 110px;
}

@media (max-width: 800px) {
  .login-screen__form {
    width: 300px;
  }
  #inputbox {
    width: 220px;
  }
  #password {
    width: 220px;
  }
  #img1 {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #img1_1 {
    height: 80px;
    width: 80px;
  }
  #img2_1 {
    height: 80px;
    width: 110px;
  }
}
