.backgroundset {
  width: 100%;
  height: 100vh;
  background-image: url("./2.jpeg");
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

.nav {
  border-bottom: 1px solid #eef1f6;
}
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav__toggle svg {
  width: 1.5rem;
  fill: #2a324b;
}
.nav__toggle .close {
  display: none;
}
.nav__toggle .menu {
  margin-top: 0.2rem;
}
.nav__checkbox {
  display: none;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin: 1rem;
  color: rgb(0, 0, 0);
}
.nav__menu li {
  list-style: none;
  display: none;
}

.nav__menu li:first-child {
  margin-right: auto;
  display: block;
}
.nav__menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__menu svg {
  width: 1.5rem;
  fill: #2a324b;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    flex-direction: row;
  }
  .nav__menu li {
    display: block;
  }
}

#skip {
  font-size: 20px;
  width: 140px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  color: white;
  background: black;
  margin-right: 11.25em;
  margin-bottom: 30px;
}

#submit {
  font-size: 20px;
  width: 140px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  color: white;
  background: black;
}

#roll {
  display: block;
  text-decoration: none;
  color: whitesmoke;
  padding: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

#subnav {
  margin-top: 1.3rem;
}

#level {
  font-weight: bold;
  font-size: x-large;
  float: left;
  margin-left: 2rem;
}
#score {
  font-weight: bold;
  font-size: x-large;
  float: right;
  margin-right: 3vw;
}

@media (max-width: 800px) {
  #skip {
    margin-right: 2rem;
  }
}
