.register-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./2.jpeg");
  background-size: cover;
  overflow: scroll;
}

.form {
  padding: 17px;
}

.register-screen__form {
  width: 420px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: black;
  border-radius: 30px;
  height: 480px;
}

.register-screen__title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Ubuntu-Bold;
  font-size: 28px;
  color: white;
}

.register-screen__subtext {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0;
  text-align: center;
  font-family: Ubuntu-Bold;
  color: white;
}

#email {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}

.button {
  text-align: center;
}

#btn {
  width: 100px;
  text-align: center;
  border-radius: 21px;
  font-family: Ubuntu-Bold;
  background: whitesmoke;
  border: 3px solid #37d5d6;
}

#name {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}

#confirmpassword {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 13px;
  color: black;
  font-weight: bold;
  text-align: center;
}
#img1 {
  position: absolute;
  top: 30px;
  left: 30px;
}

#img2 {
  position: absolute;
  top: 20px;
  right: 30px;
}
#img22_1 {
  height: 110px;
  width: 190px;
}
#img11_1 {
  height: 110px;
  width: 110px;
}
@media (max-width: 800px) {
  .login-screen__form {
    width: 300px;
  }
  #email {
    width: 220px;
  }
  #name {
    width: 220px;
  }
  #password {
    width: 220px;
  }
  #confirmpassword {
    width: 220px;
  }
  #img1 {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  #img2 {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  #img22_1 {
    height: 40px;
    width: 100px;
  }
  #img11_1 {
    height: 60px;
    width: 60px;
  }
}
