.ccontainer {
  position: relative;
  z-index: 15;
  top: 40%;
  left: 10%;
  margin: -100px 0 0 -150px;
  color: floralwhite;
  border-radius: 20px;
  text-align: center;
}

.ccontainer1 {
  position: absolute;
  left: 25%;
  background-color: black;
  padding: 40px;
  border-radius: 20px;

  width: 40%;
}

@media (max-width: 700px) {
  .ccontainer1 {
    position: absolute;
    left: 20%;
    top: 50%;
  }
}
