
.dragContainer {
    width: 70%;
    margin: 0 auto;
   
  }
  
  .dragHandler {
    padding: 1px 5px;
    color: black;
    background: white;
    border-radius: 3px;
    cursor: grab;
    border: 1px solid;
  }
  
  .dragElement {
    position: relative;
    display: flex;
    justify-content: space-between;
    white-space: pre-wrap;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    background-color:black;
    color: white;
  }