.dragContainer {
  width: 80%;
  margin: 0 auto;
}

.dragHandler {
  padding: 1px 5px;
  color: purple;
  background: rgb(238, 201, 238);
  border-radius: 3px;
  cursor: grab;
  border: 2px solid;
}

.dragElement {
  position: relative;
  display: flex;
  justify-content: space-between;
  white-space: pre-wrap;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;

  box-shadow: 0px 2px 10px black;
  background: floralwhite;
}

.Element {
  font-weight: 900;
  font-size: medium;
}
