.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./2.jpeg");
  background-size: cover;
  overflow: scroll;
}

.form {
  padding: 17px;
}

.login-screen__form {
  width: 420px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background: black;
  border-radius: 30px;
  height: 380px;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Ubuntu-Bold;
  font-size: 28px;
  color: white;
}

.login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-screen__subtext {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0;
  text-align: center;
  font-family: Ubuntu-Bold;
  color: white;
}

#inputbox {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}

#password {
  width: 300px;
  border-radius: 30px;
  font-family: Ubuntu-Bold;
}

#btn {
  width: 100px;
  text-align: center;
  border-radius: 21px;
  font-family: Ubuntu-Bold;
  background: -webkit-linear-gradient(left, #37d5d6, #36096d, #83eaf1);
}

.form-group {
  text-align: center;
}

.button {
  text-align: center;
}

@media (max-width: 800px) {
  .login-screen__form {
    width: 300px;
  }
  #inputbox {
    width: 220px;
  }
  #password {
    width: 220px;
  }
}
